{% extends "layout.html" %}
{% import "common.html" as common %}

{% block bodyHead %}
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">
                    首页 </a>
            </li>
            <li class="active">修改密码</li>
        </ul><!-- .breadcrumb -->
    </div>

{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="site-reset-password">

                    <div class="row">
                        <div class="col-lg-5">
                            <form id="reset-password-form" action="/user/reset-password" method="post">
                                <input type="hidden" name="_csrf"
                                       value="cDRVc1VYbFQZBy0dISI1GwVnZBRiESkWRlMdB2Q3GHkIej4yHzQAJw==">
                                <div class="form-group field-userresetpasswordform-password required">
                                    <label class="control-label" for="userresetpasswordform-password">密码</label>
                                    <input type="password" id="userresetpasswordform-password" class="form-control"
                                           name="UserResetPasswordForm[password]">

                                    <div class="help-block"></div>
                                </div>

                                <div class="form-group field-userresetpasswordform-password required">
                                    <label class="control-label" for="userresetpasswordform-password">确认密码</label>
                                    <input type="password" id="userresetpasswordform-password" class="form-control"
                                           name="UserResetPasswordForm[password]">

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                    <button type="button" class="btn btn-cancel" onclick="window.history.back(-1)">取消
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
{% endblock %}







