{% extends "walle/layout.html" %}

{% block body %}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- 测试环境 -->
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h4 class="lighter">测试环境</h4>

                        <div class="widget-toolbar no-border"><a href="javascript:;" data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-6 no-padding-left no-padding-right">
                            <a class="btn btn-inline btn-info" style="min-width:120px;margin:auto auto 20px 40px;"
                               href="/task/submit?projectId=3">测试环境_cmadmin</a>
                            <a class="btn btn-inline btn-info" style="min-width:120px;margin:auto auto 20px 40px;"
                               href="/task/submit?projectId=1">迪拜测试环境-21chinamall</a>
                            <a class="btn btn-inline btn-info" style="min-width:120px;margin:auto auto 20px 40px;"
                               href="/task/submit?projectId=5">测试环境_ecapi</a>
                            <a class="btn btn-inline btn-info" style="min-width:120px;margin:auto auto 20px 40px;"
                               href="/task/submit?projectId=6">测试环境_galaxy_gateway</a>
                            <a class="btn btn-inline btn-info" style="min-width:120px;margin:auto auto 20px 40px;"
                               href="/task/submit?projectId=11">阿曼测试环境-21chinamall </a>
                            <a class="btn btn-inline btn-info" style="min-width:120px;margin:auto auto 20px 40px;"
                               href="/task/submit?projectId=13">测试环境_message_gateway</a>
                        </div>
                    </div>
                </div>
                <!-- 测试环境 -->
                <br>
                <!-- 仿真环境 -->
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h4 class="lighter">预发布环境</h4>

                        <div class="widget-toolbar no-border"><a href="javascript:;" data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-6 no-padding-left no-padding-right">
                        </div>
                    </div>
                </div>
                <!-- 仿真环境 -->
                <br>
                <!-- 线上环境 -->
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h4 class="lighter">线上环境</h4>

                        <div class="widget-toolbar no-border"><a href="javascript:;" data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-6 no-padding-left no-padding-right">
                            <a class="btn btn-inline btn-success" style="min-width:120px;margin: auto auto 20px 40px;"
                               href="/task/submit?projectId=7">线上环境_cmadmin</a>
                            <a class="btn btn-inline btn-success" style="min-width:120px;margin: auto auto 20px 40px;"
                               href="/task/submit?projectId=9">线上环境_galaxy_gateway</a>
                            <a class="btn btn-inline btn-success" style="min-width:120px;margin: auto auto 20px 40px;"
                               href="/task/submit?projectId=10">迪拜线上环境-21chinamall</a>
                            <a class="btn btn-inline btn-success" style="min-width:120px;margin: auto auto 20px 40px;"
                               href="/task/submit?projectId=12">阿曼线上环境-21chinamall </a>
                            <a class="btn btn-inline btn-success" style="min-width:120px;margin: auto auto 20px 40px;"
                               href="/task/submit?projectId=14">线上环境_message_gateway</a>
                        </div>
                    </div>
                </div>
                <!-- 模拟线上环境 -->
                <br>

            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

{% endblock %}