<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酷夏打包系统</title>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
       $(function(){
        $("#package_btn").click(function(){
           $.get('/build', function(data) {
                alert('打包成功');
                window.open("build/log/"+data,true);
        });
       });
       });
    </script>
</head>
<body>
<ul>
    <li>gpc项目上线
        <button id="package_btn">打包</button>
        <button id="deploy_btn">发布</button>
    </li>
</ul>

</body>
</html>