{% extends "layout.html" %}

{% block body %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>项目名称</th>
        <th>服务器地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for requirement in all_requirement %}
    <tr>
        <td>{{requirement.project_id}}</td>
        <td>{{requirement.server_list}}</td>
        <td>
            <button class="package_btn" tag="{{requirement.id}}">打包</button>
            <button class="deploy_btn" tag="{{requirement.id}}">发布</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
       $(function(){
        $(".package_btn").click(function(){
           $.get('/build/'+$(this).attr("tag"), function(data) {
                alert('打包成功');
                window.open("build/log/"+data,true);
        });
       });
       });
</script>

{% endblock %}