{% extends "layout.html" %}

{% block body %}

<a href="/requirement/add">新增需求</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>项目名称</th>
        <th>服务器地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for requirement in all_requirement %}
    <tr>
        <td>{{requirement.project_name}}</td>

        <td>
            {% for server_ip in requirement.server_ip_list%}
            <span class="label label-info">{{server_ip}}</span>
            {% endfor%}
        </td>
        <td>
            <button class="package_btn" tag="{{requirement.id}}">打包</button>
            <button class="deploy_btn" tag="{{requirement.id}}">发布</button>
            <button class="restart_btn" tag="{{requirement.id}}">重启</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $(".package_btn").click(function () {
            $.get('/build/' + $(this).attr("tag"), function (data) {
                alert('打包成功');
            });
        });

        $(".deploy_btn").click(function () {
            $.get('/deploy/' + $(this).attr("tag"), function (data) {
                alert('发布成功');
            });
        });

        $(".restart_btn").click(function () {
            $.get('/restart/' + $(this).attr("tag"), function (data) {
                alert('重启成功');
            });
        });


    });
</script>

{% endblock %}