{% extends "layout.html" %}
{% block title %}
酷夏打包系统>> 服务器配置
{% endblock %}

{%block nav%}
<ul class="nav nav-sidebar">
    <li id="require_li"><a href="/">需求</a></li>
    <li id="server_li" class="active"><a href="/server/list">服务器配置</a></li>
    <li id="project_li"><a href="/project/list">项目信息</a></li>
</ul>
{% endblock %}

{% block body %}
<a href="/server/add">新增服务器</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>服务器地址</th>
        <th>ssh登录端口</th>
        <th>ssh_key路径</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for server in server_list %}
    <tr>
        <td>{{server.ip}}</td>
        <td>{{server.port}}</td>
        <td>{{server.key_file}}</td>
        <td><a href="/server/delete/{{ server.id }}">删除</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}